*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;
}
html, body{
    
         
     
        font-family: Arial, sans-serif;
        /* fallback font */
    }

:root {
    --primary-color: #ffffff;
    --secondary-color: #fff;
    --third-color: rgba(9, 60, 89, 1);
    
}

.dark {
    --primary-color: #111010;
    --secondary-color: #fff;
}
