.wrapper-main-2 {
    
    .sidebar{

    }   
    
    .top-bar {
     
        .heading-content-1{
            justify-content: center;
            align-items: center;
            
            img{
                border-radius: 50%;
                width: 60px;
                height: 45px;
            }

        }
        .heading-content-2 {
            box-shadow: 0 2px 2px 0  rgba(0, 0, 0, 0.232);

            position: relative;
            width: 150px;
            display: flex;
            .name{
                flex: 1;
                cursor: pointer;
                text-align: center;
            }
            .logout-darkmode{
                display: none;
                width: 100%;
                position: absolute;
                top: 100%;
                margin-top: 10px;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                gap:10px;
                box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.232);

               
                a{
                    text-decoration: none;
                    color: black;
                }
            }

            

           
        }
    }
    .content {
        padding-left: 230px;
        padding-top: 75px;
       
        height: 100%;

        .table-container {
            overflow-x: auto;
            
            padding: 20px;
            .table {
                display: flex;
                flex-direction: column;

                .incoming-footer-head {
                    min-width: 570px;
                    display: flex;
                    justify-content: start;
                    align-content: center;

                    .chevron {

                        padding: 10px;
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;

                        ul {

                            display: flex;
                            gap: 50px;

                            li {
                                align-items: center;
                                text-decoration: none;
                                display: flex;

                                a {
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .incoming-header {
                    min-width: fit-content;
                    background-color: whitesmoke;

                    .table-row {
                        font-size: 20px;
                        font-weight: bold;
                        padding: 10px;
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;

                        .table-cell:nth-child(1) {
                            width: 10%;
                            min-width: 100px;
                        }

                        .table-cell:nth-child(2) {
                            width: 15%;
                            min-width: 150px;
                        }

                        .table-cell:nth-child(3) {
                            width: 15%;
                            min-width: 150px;
                        }

                        .table-cell:nth-child(4) {
                            width: 10%;
                            min-width: 150px;
                        }

                        .table-cell:nth-child(5) {
                            width: 10%;
                            min-width: 150px;
                        }

                        .table-cell:nth-child(6) {
                            width: 10%;
                            min-width: 100px;
                        }

                        .table-cell:nth-child(7) {
                            width: 10%;
                            min-width: 100px;
                        }
                    }
                }

                .incoming-body {
                    min-width: fit-content;
                    background-color: rgba(245, 245, 245, 0.185);

                    .table-row {
                        padding: 10px;
                        display: flex;
                        align-items: flex-start;
                        gap: 15px;
                        

                    }

                    .table-cell:nth-child(1) {
                        width: 10%;
                        min-width: 100px;
                    }

                    .table-cell:nth-child(2) {
                        width: 15%;
                        min-width: 150px;
                    }

                    .table-cell:nth-child(3) {
                        width: 15%;
                        min-width: 150px;
                    }

                    .table-cell:nth-child(4) {
                        width: 15%;
                        min-width: 150px;
                    }

                    .table-cell:nth-child(5) {
                        width: 15%;
                        min-width: 150px;
                    }

                    .table-cell:nth-child(6) {
                        width: 10%;
                        min-width: 100px;
                    }

                    .table-cell:nth-child(7) {
                        width: 10%;
                        min-width: 100px;
                        display: flex;
                        align-items: center;
                    }
                }
            }


        }


    }

}
